<html>
<head>
	<meta charset="UTF-8">
	<title>Group Chat Assignment</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".container").hide();
			var sign_in = null;
			while(sign_in == null || sign_in.length < 3) {
				sign_in = prompt("Name should be at least 3 characters");
			}
			var socket = io.connect();
			socket.emit('new_user', {name:sign_in});

			socket.on("start_chat",function(data) {
				console.log(data.username+" is here");
				$(".container").show();
			});
			socket.on("user_signed_in", function(data) {
				$("#chat").append("<div class='row'><p class='logged_in'>"+data.message+"</p></div>");
				document.getElementById('chat').scrollTop = document.getElementById('chat').scrollHeight;
			});
			$("form").submit(function() {
				socket.emit("user_message", {username:sign_in, message:$("#textbox").val()})
				$("#textbox").val("");
				return false;
			});
			socket.on("message", function(data) {
				$("#chat").append("<div class='row'><p class='username'>"+data.from+"</p><p class='comment'>"+data.output+"</p></div>");
				document.getElementById('chat').scrollTop = document.getElementById('chat').scrollHeight;
			});
			socket.on("user_left_chat", function(data) {
				$("#chat").append("<div class='row'><p class='logged_out'>"+data.message+"</p></div>");
				document.getElementById('chat').scrollTop = document.getElementById('chat').scrollHeight;
			});
		});
	</script>
	<style type="text/css">
		#chat {
			background-color: #ececac;
			width: 600px;;
			height: 300px;
			overflow: auto;
		}
		#textbox {
			width: 500px;
		}
		.username {
			display: inline-block;
			word-wrap: break-word;
			vertical-align: middle;
			width: 120px;
			margin-left: 10px;
		}
		.comment {
			display: inline-block;
			word-wrap: break-word;
			vertical-align: middle;
			width: 420px;
		}
		.logged_in, .logged_out {
			font-style: italic;
		}
	</style>
</head>
<body>
	<div class="container">
		<h2>Conversation board</h2>
		<div id="chat">
			
		</div>
		<form method="post">
			<input id="textbox" type="text" name="message" placeholder="Enter your message here">
			<input type="submit" value="Send">
		</form>
	</div>

</body>
</html>